html {
    font-family: "roboto", sans-serif;
}
.title{
    font-size: 40px;
    text-align: center;
}
.texto {
    line-height: 2;
    font-size: 20px;
    letter-spacing: 1px;
}

.texto span{
    font-weight: 800;
    color: grey;
}